/* shared css */
/* float style */
.left {
  display: inline;
  float: left; }

.right {
  display: inline;
  float: right; }

/* http://sonspring.com/journal/clearing-floats */
.clearThis, .clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0; }

.cfx {
  zoom: 1; }
  .cfx:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */
.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0; }

.clearfix {
  display: inline-block; }

* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* end float style */
/* position style */
.relative {
  position: relative; }

.absolute {
  position: absolute; }

/* end position style */
/* text style */
.bold {
  font-weight: bold; }

.small {
  font-size: 0.625em; }

.text_left {
  text-align: left; }

.text_right {
  text-align: right; }

/* end text style */
/* visibility style */
.hide {
  display: none; }

.hidden {
  visibility: hidden; }

.inline_block {
  display: inline-block;
  zoom: 1;
  *display: inline; }

/* end visibility style */
/* space( for some case, the margin-top/bottom gets a bug, then puts a .space element before/after it */
.space {
  font-size: 0px;
  height: 1px;
  line-height: 0px;
  overflow: hidden; }

/* accessibility style */
.skip-to-content {
  display: none; }

/* round corner style from jquery ui but remove the 'ui-' prefix */
.corner_tl_2 {
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px; }

.corner_tr_2 {
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px; }

.corner_bl_2 {
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px; }

.corner_br_2 {
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px; }

.corner_top_2 {
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px; }

.corner_bottom_2 {
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px; }

.corner_right_2 {
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px; }

.corner_left_2 {
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px; }

.corner_all_2 {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px; }

.corner_tl_3 {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px; }

.corner_tr_3 {
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px; }

.corner_bl_3 {
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px; }

.corner_br_3 {
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px; }

.corner_top_3 {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px; }

.corner_bottom_3 {
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px; }

.corner_right_3 {
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px; }

.corner_left_3 {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px; }

.corner_all_3 {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

.corner_tl_4 {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px; }

.corner_tr_4 {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px; }

.corner_bl_4 {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px; }

.corner_br_4 {
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.corner_top_4 {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px; }

.corner_bottom_4 {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.corner_right_4 {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.corner_left_4 {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px; }

.corner_all_4 {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

.corner_tl_5 {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px; }

.corner_tr_5 {
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px; }

.corner_bl_5 {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px; }

.corner_br_5 {
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px; }

.corner_top_5 {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px; }

.corner_bottom_5 {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px; }

.corner_right_5 {
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px; }

.corner_left_5 {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px; }

.corner_all_5 {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.corner_tl_6 {
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px; }

.corner_tr_6 {
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px; }

.corner_bl_6 {
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px; }

.corner_br_6 {
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px; }

.corner_top_6 {
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px; }

.corner_bottom_6 {
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px; }

.corner_right_6 {
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px; }

.corner_left_6 {
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px; }

.corner_all_6 {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px; }

.corner_tl_8 {
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-left-radius: 8px; }

.corner_tr_8 {
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-right-radius: 8px; }

.corner_bl_8 {
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px; }

.corner_br_8 {
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px; }

.corner_top_8 {
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-right-radius: 8px; }

.corner_bottom_8 {
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px; }

.corner_right_8 {
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px; }

.corner_left_8 {
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px; }

.corner_all_8 {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px; }

.corner_tl_12 {
  -moz-border-radius-topleft: 12px;
  -webkit-border-top-left-radius: 12px;
  border-top-left-radius: 12px; }

.corner_tr_12 {
  -moz-border-radius-topright: 12px;
  -webkit-border-top-right-radius: 12px;
  border-top-right-radius: 12px; }

.corner_bl_12 {
  -moz-border-radius-bottomleft: 12px;
  -webkit-border-bottom-left-radius: 12px;
  border-bottom-left-radius: 12px; }

.corner_br_12 {
  -moz-border-radius-bottomright: 12px;
  -webkit-border-bottom-right-radius: 12px;
  border-bottom-right-radius: 12px; }

.corner_top_12 {
  -moz-border-radius-topleft: 12px;
  -webkit-border-top-left-radius: 12px;
  border-top-left-radius: 12px;
  -moz-border-radius-topright: 12px;
  -webkit-border-top-right-radius: 12px;
  border-top-right-radius: 12px; }

.corner_bottom_12 {
  -moz-border-radius-bottomleft: 12px;
  -webkit-border-bottom-left-radius: 12px;
  border-bottom-left-radius: 12px;
  -moz-border-radius-bottomright: 12px;
  -webkit-border-bottom-right-radius: 12px;
  border-bottom-right-radius: 12px; }

.corner_right_12 {
  -moz-border-radius-topright: 12px;
  -webkit-border-top-right-radius: 12px;
  border-top-right-radius: 12px;
  -moz-border-radius-bottomright: 12px;
  -webkit-border-bottom-right-radius: 12px;
  border-bottom-right-radius: 12px; }

.corner_left_12 {
  -moz-border-radius-topleft: 12px;
  -webkit-border-top-left-radius: 12px;
  border-top-left-radius: 12px;
  -moz-border-radius-bottomleft: 12px;
  -webkit-border-bottom-left-radius: 12px;
  border-bottom-left-radius: 12px; }

.corner_all_12 {
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px; }

.corner_tl_16 {
  -moz-border-radius-topleft: 16px;
  -webkit-border-top-left-radius: 16px;
  border-top-left-radius: 16px; }

.corner_tr_16 {
  -moz-border-radius-topright: 16px;
  -webkit-border-top-right-radius: 16px;
  border-top-right-radius: 16px; }

.corner_bl_16 {
  -moz-border-radius-bottomleft: 16px;
  -webkit-border-bottom-left-radius: 16px;
  border-bottom-left-radius: 16px; }

.corner_br_16 {
  -moz-border-radius-bottomright: 16px;
  -webkit-border-bottom-right-radius: 16px;
  border-bottom-right-radius: 16px; }

.corner_top_16 {
  -moz-border-radius-topleft: 16px;
  -webkit-border-top-left-radius: 16px;
  border-top-left-radius: 16px;
  -moz-border-radius-topright: 16px;
  -webkit-border-top-right-radius: 16px;
  border-top-right-radius: 16px; }

.corner_bottom_16 {
  -moz-border-radius-bottomleft: 16px;
  -webkit-border-bottom-left-radius: 16px;
  border-bottom-left-radius: 16px;
  -moz-border-radius-bottomright: 16px;
  -webkit-border-bottom-right-radius: 16px;
  border-bottom-right-radius: 16px; }

.corner_right_16 {
  -moz-border-radius-topright: 16px;
  -webkit-border-top-right-radius: 16px;
  border-top-right-radius: 16px;
  -moz-border-radius-bottomright: 16px;
  -webkit-border-bottom-right-radius: 16px;
  border-bottom-right-radius: 16px; }

.corner_left_16 {
  -moz-border-radius-topleft: 16px;
  -webkit-border-top-left-radius: 16px;
  border-top-left-radius: 16px;
  -moz-border-radius-bottomleft: 16px;
  -webkit-border-bottom-left-radius: 16px;
  border-bottom-left-radius: 16px; }

.corner_all_16 {
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px; }

.corner_tl_20 {
  -moz-border-radius-topleft: 20px;
  -webkit-border-top-left-radius: 20px;
  border-top-left-radius: 20px; }

.corner_tr_20 {
  -moz-border-radius-topright: 20px;
  -webkit-border-top-right-radius: 20px;
  border-top-right-radius: 20px; }

.corner_bl_20 {
  -moz-border-radius-bottomleft: 20px;
  -webkit-border-bottom-left-radius: 20px;
  border-bottom-left-radius: 20px; }

.corner_br_20 {
  -moz-border-radius-bottomright: 20px;
  -webkit-border-bottom-right-radius: 20px;
  border-bottom-right-radius: 20px; }

.corner_top_20 {
  -moz-border-radius-topleft: 20px;
  -webkit-border-top-left-radius: 20px;
  border-top-left-radius: 20px;
  -moz-border-radius-topright: 20px;
  -webkit-border-top-right-radius: 20px;
  border-top-right-radius: 20px; }

.corner_bottom_20 {
  -moz-border-radius-bottomleft: 20px;
  -webkit-border-bottom-left-radius: 20px;
  border-bottom-left-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  -webkit-border-bottom-right-radius: 20px;
  border-bottom-right-radius: 20px; }

.corner_right_20 {
  -moz-border-radius-topright: 20px;
  -webkit-border-top-right-radius: 20px;
  border-top-right-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  -webkit-border-bottom-right-radius: 20px;
  border-bottom-right-radius: 20px; }

.corner_left_20 {
  -moz-border-radius-topleft: 20px;
  -webkit-border-top-left-radius: 20px;
  border-top-left-radius: 20px;
  -moz-border-radius-bottomleft: 20px;
  -webkit-border-bottom-left-radius: 20px;
  border-bottom-left-radius: 20px; }

.corner_all_20 {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px; }

.corner_tl_32 {
  -moz-border-radius-topleft: 32px;
  -webkit-border-top-left-radius: 32px;
  border-top-left-radius: 32px; }

.corner_tr_32 {
  -moz-border-radius-topright: 32px;
  -webkit-border-top-right-radius: 32px;
  border-top-right-radius: 32px; }

.corner_bl_32 {
  -moz-border-radius-bottomleft: 32px;
  -webkit-border-bottom-left-radius: 32px;
  border-bottom-left-radius: 32px; }

.corner_br_32 {
  -moz-border-radius-bottomright: 32px;
  -webkit-border-bottom-right-radius: 32px;
  border-bottom-right-radius: 32px; }

.corner_top_32 {
  -moz-border-radius-topleft: 32px;
  -webkit-border-top-left-radius: 32px;
  border-top-left-radius: 32px;
  -moz-border-radius-topright: 32px;
  -webkit-border-top-right-radius: 32px;
  border-top-right-radius: 32px; }

.corner_bottom_32 {
  -moz-border-radius-bottomleft: 32px;
  -webkit-border-bottom-left-radius: 32px;
  border-bottom-left-radius: 32px;
  -moz-border-radius-bottomright: 32px;
  -webkit-border-bottom-right-radius: 32px;
  border-bottom-right-radius: 32px; }

.corner_right_32 {
  -moz-border-radius-topright: 32px;
  -webkit-border-top-right-radius: 32px;
  border-top-right-radius: 32px;
  -moz-border-radius-bottomright: 32px;
  -webkit-border-bottom-right-radius: 32px;
  border-bottom-right-radius: 32px; }

.corner_left_32 {
  -moz-border-radius-topleft: 32px;
  -webkit-border-top-left-radius: 32px;
  border-top-left-radius: 32px;
  -moz-border-radius-bottomleft: 32px;
  -webkit-border-bottom-left-radius: 32px;
  border-bottom-left-radius: 32px; }

.corner_all_32 {
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  border-radius: 32px; }

.drop_shadow {
  -moz-box-shadow: 5px 5px 6px #a5a5a5;
  -webkit-box-shadow: 5px 5px 6px #a5a5a5;
  box-shadow: 5px 5px 6px #a5a5a5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=120, Color='#a5a5a5')"; }

.thin_content {
  margin: 0 10px; }

.section {
  position: relative;
  margin: 30px 0 50px;
  z-index: 10;
  color: #444444; }

.hr {
  margin: 10px 0 20px;
  border: 2px solid #eeeeee;
  overflow: hidden;
  height: 0; }

.percent_change {
  display: inline-block;
  zoom: 1;
  *display: inline;
  padding: 0 0 0 7px;
  background: url(/images/backgrounds/arrows.gif) scroll no-repeat -99999px 0;
  font: 12px/20px Helvetica, Arial, sans-serif;
  color: #444444; }
  .percent_change.n_a, .percent_change.zero {
    background: none;
    padding: 0; }
  .percent_change.green_up {
    background-position: 0 1px;
    color: #418524; }
  .percent_change.red_down {
    background-position: 0 -17px;
    color: #b8080e; }
  .percent_change.red_up {
    background-position: 0 -69px;
    color: #b8080e; }
  .percent_change.green_down {
    background-position: 0 -87px;
    color: #418524; }

.metric_box_title {
  width: 130px;
  white-space: nowrap;
  font: 11px/20px Helvetica, Arial, sans-serif; }

.metric_box {
  border: 2px solid #cccccc;
  width: 126px;
  height: 30px;
  background: white;
  font-size: 12px;
  text-align: center;
  line-height: 30px;
  vertical-align: top; }
  .metric_box .value {
    font-size: 16px;
    font-weight: bold;
    color: black; }
  .metric_box .unit {
    font-size: 11px;
    font-style: normal;
    color: #999999; }
  .metric_box.loading {
    background: url(/images/animated/button-loader-brown.gif) no-repeat center white;
    text-indent: -99999px; }

.url_box_title {
  white-space: nowrap;
  font: 11px/20px Helvetica, Arial, sans-serif; }

.url_box {
  padding-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  font: 16px/22px Helvetica, Arial, sans-serif; }
  .url_box .score {
    display: inline-block;
    margin: 0 8px 0 0;
    background: #133b76;
    height: 22px;
    width: 31px;
    text-align: center;
    color: white; }
  .url_box .url {
    float: none;
    display: inline-block;
    font-size: 14px;
    color: #133b76;
    text-decoration: underline; }
  .url_box .hint {
    font-size: 14px;
    color: #999999; }

.bubble_box {
  position: absolute;
  padding: 8px 12px;
  background: white;
  border: 5px solid #e1f0f7;
  font: 16px/20px Helvetica, Arial, sans-serif; }
  .bubble_box .bubble_arrow {
    position: absolute;
    width: 16px;
    height: 14px;
    background: url(/images/icon/icon_20_20.png) no-repeat -99999px 0; }
    .bubble_box .bubble_arrow.west {
      background-position: -2px -23px; }
    .bubble_box .bubble_arrow.east {
      background-position: -2px -43px; }

.optimizer_status_title {
  padding: 6px 0;
  font: 20px/28px Helvetica, Arial, sans-serif;
  color: #133b76; }
  .optimizer_status_title a.small {
    font-size: 12px;
    color: #418524;
    vertical-align: middle; }
    .optimizer_status_title a.small.disable {
      color: #666666; }

.optimizer_status_config {
  font: 14px/150% Helvetica, Arial, sans-serif; }
  .optimizer_status_config strong {
    font-size: 18px;
    color: black; }
  .optimizer_status_config a {
    font-size: 12px;
    color: #418524; }
  .optimizer_status_config .hint {
    padding: 10px 18px 0 0;
    color: #999999;
    font-size: 11px; }

.optimizer_status {
  display: inline-block;
  padding: 0 8px;
  font-weight: bold;
  text-transform: capitalize;
  color: white; }
  .optimizer_status.off {
    background: #cccccc; }
  .optimizer_status.preview {
    background: #ffcc66; }
  .optimizer_status.live, .optimizer_status.activating {
    background: #418524; }
  .optimizer_status.proxy_only, .optimizer_status.deactivating {
    background: #b8080e; }

.optimizer_status_icon, .monitor_status_icon, .analytics_status_icon {
  display: block;
  width: 20px;
  height: 20px;
  background: url(/images/icon/ico.png) no-repeat -99999px 0;
  text-indent: -99999px; }

.optimizer_status_icon.off {
  background-position: -128px -1px; }
.optimizer_status_icon.preview {
  background-position: -193px -1px; }
  .optimizer_status_icon.preview.secure {
    background-position: -193px -23px; }
.optimizer_status_icon.live, .optimizer_status_icon.activating {
  background-position: -213px -1px; }
  .optimizer_status_icon.live.secure, .optimizer_status_icon.activating.secure {
    background-position: -213px -23px; }
.optimizer_status_icon.proxy_only, .optimizer_status_icon.deactivating {
  background-position: -173px -1px; }
  .optimizer_status_icon.proxy_only.secure, .optimizer_status_icon.deactivating.secure {
    background-position: -173px -23px; }

.monitor_status_icon.basic {
  background-position: -193px -1px; }

.analytics_status_icon.paired {
  background-position: -193px -1px; }
.analytics_status_icon.not_paired {
  background-position: -128px -1px; }

.green_gradient_button {
  display: inline-block;
  zoom: 1;
  *display: inline;
  border: 2px solid #beeca5;
  padding: 0 15px;
  background: url(/images/backgrounds/button_backgrounds.png) repeat-x 0 -2px;
  height: 36px;
  min-width: 205px;
  font: 14px/36px Helvetica, Arial, sans-serif;
  color: #09700b;
  text-align: center;
  text-decoration: none;
  cursor: pointer; }
  .green_gradient_button .label {
    font-size: 16px;
    font-weight: bold; }
  .green_gradient_button.disabled {
    background-position: 0 -38px;
    border: 2px solid #605e5f;
    color: white; }
  .green_gradient_button.ajaxing {
    background: url(/images/animated/widget-loader-gray.gif) no-repeat center transparent;
    border: 2px solid #cccccc;
    text-indent: -99999px; }

a.green_gradient_button {
  color: #09700b; }

.green_button {
  display: inline-block;
  padding: 0 10px;
  background: #418524;
  color: white;
  font-size: 12px;
  text-decoration: none; }

label.green_gradient_button input[type=submit], label.green_gradient_button button[type=submit] {
  margin: 0;
  padding: 0;
  border: none;
  border: 0;
  outline: 0;
  outline: none;
  vertical-align: baseline;
  background: transparent;
  font-size: 100%;
  overflow: visible;
  font-size: 14px;
  vertical-align: baseline;
  color: #09700b; }
  label.green_gradient_button input[type=submit] strong, label.green_gradient_button button[type=submit] strong {
    color: inherit; }

form.link_style_form label {
  color: #133b76;
  text-decoration: underline;
  cursor: pointer; }
  form.link_style_form label:hover {
    text-decoration: none; }
form.link_style_form input[type=submit] {
  margin: 0;
  padding: 0;
  border: none;
  border: 0;
  outline: 0;
  outline: none;
  vertical-align: baseline;
  background: transparent;
  font-size: 100%;
  width: 0; }

/* link list style */
#sites_switcher ul.link_list li > a .text {
  padding-left: 21px; }

ul.link_list li {
  border-bottom: 1px solid #cccccc; }
  ul.link_list li > a {
    display: block;
    position: relative;
    padding: 0 10px;
    height: 46px;
    background: white;
    color: #444444;
    font: 14px/46px Helvetica, Arial, sans-serif;
    text-decoration: none;
    cursor: pointer;
    zoom: 1; }
    ul.link_list li > a .text {
      display: block;
      margin: 0 30px 0 0;
      overflow: hidden;
      font: inherit; }
    ul.link_list li > a .raquo {
      position: absolute;
      right: 10px;
      top: 0;
      font-size: 30px;
      display: none; }
    ul.link_list li > a:hover {
      color: #133b76; }
      ul.link_list li > a:hover .raquo {
        display: inline; }
  ul.link_list li.last > a {
    border-bottom: none; }
  ul.link_list li.odd {
    background: #f0f0f0; }
    ul.link_list li.odd > a {
      background: #f0f0f0; }

/* accessibility style */
.switcher {
  position: absolute;
  top: -5px;
  left: 5px;
  padding: 1px;
  background: white;
  z-index: 100;
  max-width: 500px; }
  .switcher .guide {
    display: block;
    padding: 2px 0 4px 7px;
    position: relative; }
  .switcher .text {
    display: block;
    margin: 0 20px 0 0;
    white-space: nowrap; }
  .switcher .hint {
    color: #999999; }
  .switcher .status {
    display: none;
    position: absolute;
    right: 0;
    top: 5px;
    width: 20px;
    height: 17px;
    background: url(/images/icon/arrows_small.png) no-repeat 8px -35px; }
  .switcher ul {
    min-width: 250px;
    max-height: 470px;
    overflow-y: auto;
    display: none;
    padding: 0 10px; }
  .switcher.expandable .guide {
    cursor: pointer; }
  .switcher.expandable .status {
    display: inline-block; }
  .switcher.expandable:hover, .switcher.expandable.expanded {
    border: 1px solid #bfbfbf;
    padding: 0; }
    .switcher.expandable:hover .status, .switcher.expandable.expanded .status {
      top: 4px; }
  .switcher.expandable.expanded {
    padding: 0 0 20px; }
    .switcher.expandable.expanded .guide {
      padding-bottom: 13px; }
    .switcher.expandable.expanded .status {
      background-position: -10px -36px; }
    .switcher.expandable.expanded ul {
      display: block; }

.inline_title {
  margin-top: 37px;
  margin-bottom: 28px;
  position: relative; }
  .inline_title .line {
    border-bottom: 3px solid #dadfe5; }
  .inline_title.second {
    margin-top: 44px;
    margin-bottom: 36px; }
    .inline_title.second p {
      left: 289px; }
  .inline_title p {
    background: none repeat scroll 0 0 white;
    color: #133b76;
    font-size: 18px;
    left: 332px;
    padding: 0 20px;
    position: absolute;
    top: -11px;
    line-height: 150%;
    z-index: 1; }

.widget_loading {
  width: 144px;
  margin: 0 auto;
  border: 3px solid #bcbcbc;
  font: 12px/20px Helvetica, Arial, sans-serif;
  color: #666666;
  text-align: center; }
  .widget_loading .animation {
    height: 40px;
    background: url(/images/animated/widget-loader-gray.gif) no-repeat center; }

.widget_not_available {
  padding: 10px 35px 20px;
  white-space: nowrap;
  background: #ebf8ee; }
  .widget_not_available p {
    margin: 0;
    padding: 0;
    font: 15px/30px Helvetica, Arial, sans-serif;
    color: #133b76; }
  .widget_not_available ul {
    margin: -25px 0 0;
    padding: 0 0 0 40px;
    line-height: 20px; }
  .widget_not_available.thumbnail {
    margin: 0 !important;
    padding: 5px 20px !important; }

.chart_index {
  color: #53758f;
  display: block;
  font-size: 48px;
  font-weight: bold;
  height: 74px;
  left: -38px;
  line-height: 45px;
  padding-top: 16px;
  position: absolute;
  text-align: center;
  top: -16px;
  width: 74px;
  z-index: 102;
  background: url(/images/icon/circle.png) no-repeat -1px -127px; }

.mask {
  width: 100%;
  height: 100%;
  background: url("/images/backgrounds/modal_background.png") repeat;
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
  filter: alpha(opacity=80);
  opacity: 0.8;
  over-flow: hidden; }

.ui-tabs.ui-tabs-panel {
  background: none repeat scroll 0 0 transparent;
  border-width: 0;
  display: block;
  padding: 1em 1.4em; }

.ui-tabs .ui-tabs-hide {
  display: none !important; }

.https_hint {
  display: inline-block;
  padding: 0 0 0 15px;
  background: url(/images/icon/ico.png) scroll no-repeat -353px -423px;
  font: oblique 11px/15px Helvetica, Arial, sans-serif;
  color: #999999; }
  .https_hint a {
    color: #444444;
    font-style: normal; }

.rollup_statement {
  margin: 0 40px;
  color: #444444; }
  .rollup_statement .title {
    padding: 17px 0;
    background: #f0f0f0;
    font: 18px/24px Helvetica, Arial, sans-serif;
    text-align: center; }
    .rollup_statement .title strong {
      font: bold 20px/24px Helvetica, Arial, sans-serif; }
  .rollup_statement .paragraph {
    padding: 5px 20px 0;
    font: oblique 12px/20px Helvetica, Arial, sans-serif; }
  .rollup_statement a {
    color: #444444; }
  .rollup_statement strong {
    color: black; }
  .rollup_statement .measurement.loading {
    padding-left: 30px;
    background: url(/images/animated/button-loader-blue.gif) scroll no-repeat center; }

.title_line {
  padding: 0 0 10px;
  border-top: 3px solid #dadfe5;
  text-align: center; }
  .title_line span {
    position: relative;
    padding: 0 10px;
    background: white;
    top: -10px;
    font: 14px/20px Helvetica, Arial, sans-serif; }

.businessInsider {
  background-position: 0 0 !important; }

.SearchEngineWatch {
  background-position: -108px 0 !important; }

.Xconomy {
  background-position: -215px 0 !important; }

.Smallbiztechnology {
  background-position: -108px -59px !important;
  height: 32px !important; }

.AcutalInsights {
  background-position: 0 -57px !important; }

.BostInnovation {
  background-position: -215px -57px !important; }

.ADOTAS {
  background-position: 0 -113px !important; }

.Greeenhorn {
  background-position: -107px -113px !important; }

.Computerworld {
  background-position: -215px -113px !important; }

.PCWorld {
  background-position: 0 -168px !important; }

.TMCNET {
  background-position: -108px -168px !important; }

.DataCenter {
  background-position: -215px -168px !important;
  height: 35px !important; }

.Tier1Research {
  background-position: 0 -223px !important; }

.TheNextWeb {
  background-position: -108px -223px !important; }

.NewYorkTimes {
  background-position: -215px -223px !important; }

.ReadWriteWeb {
  background-position: 0 -280px !important; }

.GigaOM {
  background-position: -108px -280px !important; }

.WebsiteMagazine {
  background-position: -215px -280px !important; }

.CloudMagazine {
  background-position: 0 -336px !important; }

.WebHost {
  background-position: -108px -336px !important; }

.Webinside {
  background-position: -215px -336px !important; }

.YottaaInc {
  background-position: 0 -393px !important; }

.MassHighTech {
  background-position: -108px -393px !important; }

.TechCrunch {
  background-position: -215px -393px !important; }

.DowJones {
  background-position: 0 -440px !important; }

.HostingNews {
  background-position: -108px -440px !important; }

.WiredVC {
  background-position: -215px -440px !important; }

.VatorNews {
  background-position: 0 -487px !important; }
